<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kys24.order.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="kys24.order.model.Order">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_address" jdbcType="VARCHAR" property="orderAddress" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="total_price" jdbcType="REAL" property="totalPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, user_id, order_address, status, total_count, total_price, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kys24.order.model.Order">
    insert into tb_order (order_id, user_id, order_address, 
      status, total_count, total_price, 
      create_time, update_time)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{orderAddress,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{totalCount,jdbcType=INTEGER}, #{totalPrice,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="kys24.order.model.Order">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderAddress != null">
        order_address,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null">
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kys24.order.model.Order">
    update tb_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null">
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kys24.order.model.Order">
    update tb_order
    set user_id = #{userId,jdbcType=INTEGER},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      total_count = #{totalCount,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <select id="queryAllOrder" parameterType="kys24.user.utils.Page" resultMap="BaseResultMap">
    SELECT * FROM tb_order
    ORDER BY create_time DESC
    limit #{beginIndex,jdbcType=INTEGER},#{everyPage,jdbcType=INTEGER}
  </select>
  <select id="countAllOrder" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_order
  </select>
  <select id="queryOrderByuserId" resultType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT * FROM tb_order WHERE user_id = #{userid}
     ORDER BY create_time DESC
    limit #{beginpage},#{everypage}
  </select>
  <select id="countByuserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   SELECT COUNT(*) FROM tb_order WHERE user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>