<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 配置自定义扫描包 -->
    <context:component-scan base-package="kys24.order.controller"/>
    <context:component-scan base-package="kys24.goods.controller" />
    <context:component-scan base-package="kys24.goods.aspect"/>
    <context:component-scan base-package="kys24.user.controller" />
    <!-- 加载静态资源 -->
    <!--
       default-servlet-handler 将在 SpringMVC 上下文中定义一个 DefaultServletHttpRequestHandler,
       它会对进入 DispatcherServlet 的请求进行筛查, 如果发现是没有经过映射的请求, 就将该请求交由 WEB 应用服务器默认的
       Servlet 处理. 如果不是静态资源的请求，才由 DispatcherServlet 继续处理

       一般 WEB 应用服务器默认的 Servlet 的名称都是 default.
       若所使用的 WEB 服务器的默认 Servlet 名称不是 default，则需要通过 default-servlet-name 属性显式指定
     -->
    <mvc:default-servlet-handler />

    <mvc:resources mapping="/image/**" location="WEB-INF/classes/image/"/>
    <!-- 避免不能正常访问@RequestMapping链接，通常配置 mvc:annotation-driven 标签 -->
    <mvc:annotation-driven />
    <!-- 配置视图解析器：如何把 handler 方法返回值解析为实际的物理视图 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
        <property name="maxUploadSize" value="10485760000" />
        <property name="maxInMemorySize" value="40960" />
    </bean>
</beans>