<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kys24.goods.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="kys24.goods.entity.Brand">
    <id column="brandID" jdbcType="INTEGER" property="brandid" />
    <result column="varietyID" jdbcType="INTEGER" property="varietyid" />
    <result column="brandname" jdbcType="VARCHAR" property="brandname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    brandID, varietyID, brandname, create_time, update_time
  </sql>
  <insert id="insert" parameterType="kys24.goods.entity.Brand">
    insert into tb_brand (brandID, varietyID, brandname, 
      create_time, update_time)
    values (#{brandid,jdbcType=INTEGER}, #{varietyid,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_brand
    where brandID = #{brandid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="kys24.goods.entity.Brand">
    update tb_brand
    set varietyID = #{varietyid,jdbcType=INTEGER},
      brandname = #{brandname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where brandID = #{brandid,jdbcType=INTEGER}
  </update>
  <select id="queryBrandList" resultMap="BaseResultMap">
     SELECT * FROM tb_brand ORDER BY brandID ASC ;
  </select>
</mapper>