<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kys24.goods.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="kys24.goods.model.Brand">
    <id column="brandID" jdbcType="INTEGER" property="brandid" />
    <result column="varietyID" jdbcType="INTEGER" property="varietyid" />
    <result column="brandname" jdbcType="VARCHAR" property="brandname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    brandID, varietyID, brandname, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where brandID = #{brandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_brand
    where brandID = #{brandid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="kys24.goods.model.Brand">
    insert into tb_brand (brandID, varietyID, brandname, 
      create_time, update_time)
    values (#{brandid,jdbcType=INTEGER}, #{varietyid,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="kys24.goods.model.Brand">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        brandID,
      </if>
      <if test="varietyid != null">
        varietyID,
      </if>
      <if test="brandname != null">
        brandname,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="varietyid != null">
        #{varietyid,jdbcType=INTEGER},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kys24.goods.model.Brand">
    update tb_brand
    <set>
      <if test="varietyid != null">
        varietyID = #{varietyid,jdbcType=INTEGER},
      </if>
      <if test="brandname != null">
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brandID = #{brandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="kys24.goods.model.Brand">
    update tb_brand
    set varietyID = #{varietyid,jdbcType=INTEGER},
      brandname = #{brandname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where brandID = #{brandid,jdbcType=INTEGER}
  </update>
</mapper>