<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kys24.goods.dao.CommodityMapper">
  <resultMap id="BaseResultMap" type="kys24.goods.model.Commodity">
    <id column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_brand" jdbcType="INTEGER" property="commodityBrand" />
    <result column="commodity_variety" jdbcType="INTEGER" property="commodityVariety" />
    <result column="commodity_depict" jdbcType="VARCHAR" property="commodityDepict" />
    <result column="commodity_price" jdbcType="REAL" property="commodityPrice" />
    <result column="commodity_amount" jdbcType="INTEGER" property="commodityAmount" />
    <result column="commodity_leavenum" jdbcType="INTEGER" property="commodityLeavenum" />
    <result column="commodity_standard" jdbcType="REAL" property="commodityStandard" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="commodity_picture" jdbcType="VARCHAR" property="commodityPicture" />
  </resultMap>
  <sql id="Base_Column_List">
    commodity_id, commodity_name, commodity_brand, commodity_variety, commodity_depict, 
    commodity_price, commodity_amount, commodity_leavenum, commodity_standard, operator, 
    create_time, update_time, commodity_picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="kys24.goods.model.Commodity">
    insert into tb_commodity (commodity_id, commodity_name, commodity_brand, 
      commodity_variety, commodity_depict, commodity_price, 
      commodity_amount, commodity_leavenum, commodity_standard, 
      operator, create_time, update_time, 
      commodity_picture)
    values (#{commodityId,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{commodityBrand,jdbcType=INTEGER}, 
      #{commodityVariety,jdbcType=INTEGER}, #{commodityDepict,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=REAL}, 
      #{commodityAmount,jdbcType=INTEGER}, #{commodityLeavenum,jdbcType=INTEGER}, #{commodityStandard,jdbcType=REAL}, 
      #{operator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{commodityPicture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kys24.goods.model.Commodity">
    insert into tb_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityBrand != null">
        commodity_brand,
      </if>
      <if test="commodityVariety != null">
        commodity_variety,
      </if>
      <if test="commodityDepict != null">
        commodity_depict,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="commodityAmount != null">
        commodity_amount,
      </if>
      <if test="commodityLeavenum != null">
        commodity_leavenum,
      </if>
      <if test="commodityStandard != null">
        commodity_standard,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="commodityPicture != null">
        commodity_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBrand != null">
        #{commodityBrand,jdbcType=INTEGER},
      </if>
      <if test="commodityVariety != null">
        #{commodityVariety,jdbcType=INTEGER},
      </if>
      <if test="commodityDepict != null">
        #{commodityDepict,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=REAL},
      </if>
      <if test="commodityAmount != null">
        #{commodityAmount,jdbcType=INTEGER},
      </if>
      <if test="commodityLeavenum != null">
        #{commodityLeavenum,jdbcType=INTEGER},
      </if>
      <if test="commodityStandard != null">
        #{commodityStandard,jdbcType=REAL},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityPicture != null">
        #{commodityPicture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kys24.goods.model.Commodity">
    update tb_commodity
    <set>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBrand != null">
        commodity_brand = #{commodityBrand,jdbcType=INTEGER},
      </if>
      <if test="commodityVariety != null">
        commodity_variety = #{commodityVariety,jdbcType=INTEGER},
      </if>
      <if test="commodityDepict != null">
        commodity_depict = #{commodityDepict,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=REAL},
      </if>
      <if test="commodityAmount != null">
        commodity_amount = #{commodityAmount,jdbcType=INTEGER},
      </if>
      <if test="commodityLeavenum != null">
        commodity_leavenum = #{commodityLeavenum,jdbcType=INTEGER},
      </if>
      <if test="commodityStandard != null">
        commodity_standard = #{commodityStandard,jdbcType=REAL},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityPicture != null">
        commodity_picture = #{commodityPicture,jdbcType=VARCHAR},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="kys24.goods.model.Commodity">
    update tb_commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_brand = #{commodityBrand,jdbcType=INTEGER},
      commodity_variety = #{commodityVariety,jdbcType=INTEGER},
      commodity_depict = #{commodityDepict,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=REAL},
      commodity_amount = #{commodityAmount,jdbcType=INTEGER},
      commodity_leavenum = #{commodityLeavenum,jdbcType=INTEGER},
      commodity_standard = #{commodityStandard,jdbcType=REAL},
      operator = #{operator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      commodity_picture = #{commodityPicture,jdbcType=VARCHAR}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
</mapper>