<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kys24.goods.dao.VarietyDao">
  <resultMap id="BaseResultMap" type="kys24.goods.entity.Variety">
    <id column="variety_id" jdbcType="INTEGER" property="varietyId" />
    <result column="variety_name" jdbcType="VARCHAR" property="varietyName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    variety_id, variety_name, parent_id, type, create_time, update_time
  </sql>
  <delete id="deleteVariety" parameterType="java.lang.Integer">
    delete from tb_variety
    where variety_id = #{varietyId,jdbcType=INTEGER}
  </delete>
  <insert id="insertVariety" parameterType="kys24.goods.entity.Variety">
    insert into tb_variety (variety_id, variety_name, parent_id, 
      type, create_time, update_time
      )
    values (#{varietyId,jdbcType=INTEGER}, #{varietyName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateVariety" parameterType="kys24.goods.entity.Variety">
    update tb_variety
    set variety_name = #{varietyName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where variety_id = #{varietyId,jdbcType=INTEGER}
  </update>
  <select id="queryAllVariety" resultMap="BaseResultMap">
    SELECT * FROM tb_variety ORDER BY variety_id ASC;
  </select>
</mapper>